extends layout

block content
  #app
    .login-form
        if message 
          .alert.alert-danger(role='alert')
            | #{message}
        form(action='/api/v1/users/login' method='post')
            h2.text-center Log in
            .form-group
            input.form-control(type='text' placeholder='Username' name="username" required='required')
            .form-group
            input.form-control(type='password' placeholder='Password' name="password" required='required')
            .form-group
            button.btn.btn-primary.btn-block(type='submit') Log in
            .clearfix
        p.text-center
            a(href='/api/v1/users/register') Create an Account    